body {
  background-color: #fff;
}

img {
  display: block;
}

.gallery {
  max-width: 1128px;
  margin: 0 auto;
  padding: 24px 0;

  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  list-style-type: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.basicLightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.basicLightbox__placeholder > img:first-child:last-child {
  width: 1128px;
}
